html, body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arr {
    color: white; 
    margin-right: 1100px; 
    text-decoration: none;
}

.arr:hover {
    color: #ffb6c1;
    text-decoration: underline;
}

.log-back {
    width: 100px;
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.log-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 70%;
    height: 60%;
}

.log-div:hover {
    background-color: #d6336c;
    border-radius: 5px;
    transition: background-color 0.1s ease 0.1s;
}

.log-box {
    width: 400px; 
    height: 400px; 
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.login {
    text-decoration: none;
    color: #e66a90
}

.login:hover {
    text-decoration: underline;
}

.input {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.register {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #d6336c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.register:hover {
    background-color: rgba(214, 51, 108, 80%);
    transition: background-color 0.1s ease 0.1s;
}

.line {
    flex: 1;
    height: 1px;
    background-color: white;
}

.foot-text {
    text-decoration: none;
    color: black;
}

.foot-text:hover {
    text-decoration: underline;
}